/**
 * badges
 */

.society-badge::before {
  border-radius: 0.25em;
  clear: left;
  color: white;
  float: left;
  font-size: 0.75em;
  left: 0;
  line-height: 0.75em;
  padding: 0.25em;
  position: relative;
  top: 0;
  z-index: 10;
}

.groups .society-badge.hc::before {
  background-color: black;
  content: "HC";
}

/* TODO find a way to populate content dynamically */
.society-badge.beta::before {
  color: black;
  background-color: yellow;
  font-weight: bold;
  border: 1px solid black;
  content: "BETA";
  position: absolute;
  top: -1.5em;
}

.society-badge.mla::before {
  background-color: #7f132a;
  content: "MLA";
}

.society-badge.caa::before {
  background-color: #fcb718;
  content: "CAA";
}

.society-badge.ajs::before {
  background-color: #033136;
  content: "AJS";
}

.society-badge.aseees::before {
  background-color: #ec2127;
  content: "ASEEES";
}



/**
 * overrides for cbox-theme / cbox-mla
 */

/*
.item-avatar,
#item-header-avatar {
  position: relative;
}

.item-avatar {
  height: 80px;
  width: 80px;
}

.profile.change-avatar #item-header-avatar {
  height: 210px;
  width: 210px;
}

.groups.single-item #item-header-avatar {
  height: 210px;
  width: 210px;
}

.item-avatar .avatar,
#item-header-avatar .avatar {
  position: absolute;
  left: 0;
}
*/

/*
div#item-header {
  overflow: visible !important;
}
*/


/**
 * overrides for boss theme
 */

#item-header-avatar {
  position: relative;
  width: 110px;
  height: 110px;
}

#item-header-avatar .avatar {
  left: 0;
  top: 0;
  position: absolute;
  float: none;
}

#item-header-avatar .society-badge.beta {
  text-shadow: none;
}

#item-header-avatar .society-badge.hc {
  display: none;
}

/* hide badges in widgets (tiny avatars) */
.widget .society-badge-wrap {
  display: none;
}

/* members directory & search */

#primary #blogs-list .item-avatar,
#primary #members-list .item-avatar,
.search #primary .post-author {
  position: relative;
  vertical-align: top;
  top: -12px; /* vertically center avatars */
}

#primary #members-list .item-avatar > img,
.search #primary .avatar {
  left: 0;
  position: absolute;
  top: 0;
}

#primary #members-list .item-avatar a.society-badge-wrap,
.search #primary .avatar a.society-badge-wrap {
  height: auto;
}

.search .entry-content .avatar {
  max-width: none;
}

/* member profile */

.profile #item-header-avatar {
  position: relative;
}

.profile #item-header-avatar > img {
  left: 0;
  position: absolute;
  top: 0;
}


/* groups directory */

#primary #groups-list li .item-avatar {
  position: relative;
  vertical-align: top;
  min-width: 105px; /* even if no badges are present, ensure the avatar is correctly sized */
}

#primary #groups-list li .item-avatar > img {
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
}

#primary #groups-list .item-avatar a.society-badge-wrap {
  height: 70px;
  width: 70px;
}


/* single group */

/* pending bbpress template review */
.single-item.groups .society-badge-wrap {
  display: none;
}


/* sites directory */


/* header menu */

#header-menu a {
  background-color: black; /* fallback - should never be used but will prevent white on white just in case */
  border-radius: 0.25em;
  color: white !important;
  padding: 0.25em 0.25em 2px 0.25em; /* 2px bottom padding to accommodate ::after rules added by boss for hover effect */
}

/* ajs */
#header-menu .menu-item.society-ajs a {
  background-color: #033136;
}
/* aseees */
#header-menu .menu-item.society-aseees a {
  background-color: #ec2127;
}
/* caa */
#header-menu .menu-item.society-caa a {
  background-color: #fcb718;
}
/* mla */
#header-menu .menu-item.society-mla a {
  background-color: #7f132a;
}
